.profile{
	    margin-left: 190px;
	    color:black!important;
}
.profile-1 {
	color:#ffffff;
	text-align: center;
	padding-bottom:250px;

}
.font-size{
	font-size: 55px!important;
}
.font-size-1{
	font-weight:300;
	line-height: 40px!important;
	}
.font-size-2{
	line-height:50px!important;
}
.button{
	background-color:#3333ff;
   
    margin: 38px auto;
    color: white;
    padding: 13px 36px;
    border-radius: 5px;
  
    font-size: 23px;
    text-decoration:none!important;
        line-height: 55px;

}
.button:hover{
	color:white!important;
}
.about{
	padding-top:105px;
}
.about-1{

	color: #969696;
}
.about-2{
	font-size:40px;
	color: #3f5c84;
}
.about-3{
	line-height: 30px;
}
.button-1{
	background: #ff5151;
    width: fit-content;
    margin: 38px auto;
    color: white;
    padding: 13px 36px;
    border-radius: 5px;
    font-size: 23px;   
    text-align:center;
   line-height:70px!important;


}
.button-1:hover{ text-decoration:none!important;
color:white;}
.work{
text-align: center;
    margin-top: 80px;
    font-size:50px;
    padding-top: 60px;
    color: white; 
    margin-bottom: 40px;

    
}
.icon i{
	text-align:center;
	
    font-size: 50px;
    font-weight: 400;
    padding-top:88px;
    color:#16a1a9;
}
.create{
	text-align:center;



}
.share{
	padding-top: 20px;



}
.bg-clr{
	  background-image: linear-gradient( #FF9800, #03A9F4);
}
.edit1{
	background: #ffffff;
   
    border-radius: 0px;
  padding-bottom: 57px;
    border-radius: 20px;
    margin-bottom: 25px;
    color:#545454;}
    .edit1:hover{
    transform: rotate(
-9deg);
transition-duration: 2s;
  }  


.edit2{
		background: #ffffff;
 
    border-radius: 0px;
    
   padding-bottom: 57px;
    border-radius: 20px;
    margin-bottom: 25px;
color:#545454;}
.edit2:hover{
transform: rotate(
-9deg);
 transition-duration: 2s;}


.edit3{
		background: #ffffff;
   
    
    border-radius: 0px;
  padding-bottom: 20px;
    border-radius: 20px;
margin-bottom: 25px;
color:#545454;}
.edit3:hover{
transform: rotate(
-9deg);
transition-duration: 2s;}






 


.plus{
	text-align:center;
	padding-top:100px;
	font-weight: 500;
    color: #16a1a9;

}
.digit h3{
background: #2ed09b;
    margin: 0px;
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 29px;
    letter-spacing: -0.7px;
}
.digit h1{
color: #ffffff;
    background: #3f5c84;
    margin: 0;
    padding: 19px;
    font-size: 31px;
    text-align:center;
}

.back i{
background: green;
    color: white;
    border-radius: 50px;
    padding: 6px;
    font-size: 11px;
    margin: 0px 10px;
   

}
.back1{
	text-align:center;
	 list-style-type: none;
	     padding: 10px 29px;
}
.back2{
	background: #3f5c8417;
}
.back{
	padding:10px;
	font-size:20px;
}
.btn_1 {
    background: #ff5151;
    width: fit-content;
    margin: 38px auto;
   
    padding: 13px 36px;
    border-radius: 5px;
    font-size: 23px;
   
    }
    .btn_1 a{
 text-decoration: none;
  color: white;
    }
    .btn_1:hover{
    	background: #c8222a;
    }
    .sample{
    	text-align: center;
    	font-weight: 400;
    	padding-top:50px;
    }
    .temp_pre img {
    width: 100px;
    border: 21px solid #31354c;
    height: 194px;
    border-radius: 23px;
    margin: 0 auto;
    border-left: 5px solid #343538;
    border-right: 5px solid #333438;
    padding: 0px;

}
.pre_btn a {
    background: #ffffff;
    width: fit-content;
    margin: 13px auto;
    padding: 10px 30px;
   background-color: #3F51B5;
   color:white;
    border: 1px solid;
    font-weight: 500;
    border-radius: 35px;
    cursor: pointer;
text-decoration:none;

border-color: #3F51B5;

}
.pre_btn{
margin-top:18px;}
 .temp_pre{display: inline-grid;
 	margin-left:70px; 
 	margin-top:30px;}


 	 .temp_pre:hover img {
   transition: 0.3s;
    transform: scale(1.2);
}
.card{
	padding: 20px;
    color: #313131;
    text-align: center;
    font-weight: 400;
    margin-top:100px;
}
.card1{
	 text-align: center;
	     color: gray;
}
.benefit_box {
    width: 260px;
    display: inline-block;
    margin: 6px;
    background: white;
    text-align: center;
    padding: 21px;
    
    vertical-align: top;
    box-shadow: 0px 0px 10px 0px #0000001f;
    border-radius: 5px;}
    .benefit_box i {
    font-size: 29px;
    color: #FF5722;}

    .benefit_box h3 {
    margin: 7px;
    font-weight: 600;}


.benefit_box p {
    color: #383838;
    font-size: 12px;
    font-weight: 400;
}
.row_features  {
    text-align: center;
    color: #2ed09b;
    margin-top:100px;
}
.row_features1{
	font-weight:400;
	text-align:center;
}

.cont_share_boxes {
    width: 200px;
    display: inline-grid;
    font-size: 16px;
    margin: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #00000017;
    padding: 13px 13px 20px;
    font-weight: 500;
    border-radius: 5px;
    color: #444b4f;
}
.cont_share_boxes i {
    font-size: 43px;
    margin: 20px;
    color: #444b4f;
}

.cont_share_boxes:hover {
    box-shadow: 0px 0px 10px 0px #0000002e;
    color: black;
}
.label{

    background-image: linear-gradient(to right, #9C27B0, #03A9F4);
    margin-top:50px;

}
.w_l_f {
    margin: 0px;
    padding: 20px 39px;
    font-weight: 800;
    color: white;
    text-align: center;
    padding-top:40px;
}
.domain{
margin-left: 45px;
    padding-top: 10px;
    background-color: white;
    border-radius: 5px;
}
.domain li{
	padding-top: 15px;
    padding-bottom: 15px;
        font-size: 18px;
}
.domain1{
	background: #efefef;
	    margin-right: 20px;
}
.button-2{
	background: #ff5151;
    width: fit-content;
    margin: 38px auto;
    
    padding: 13px 36px;
    border-radius: 5px;
    font-size: 23px;

}
.button-2 a{
	text-decoration: none;
	color: white;
}

.row_contact {
    background: transparent;
    color: black;
    padding: 91px 50px;
    text-align: center;
}


    .row_contact h1 {
    font-size: 50px;
    font-weight: 500;
    background: #ffffff91;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;}


    .row_contact h3{
    	font-weight: 400;
    }

.servicesh2 {
    text-align: center;
    font-size: 38px;
    color: #ffffff;
    font-weight: 700;
    margin: 0px 0px 1px;
    text-shadow: 0px 0px 2px black;
}
.services_box {
    width: 200px;
    vertical-align: middle;
    height: auto;
    background: linear-gradient(
45deg, #9C27B0, #0099ff);
    padding: 20px;
    text-align: center;
    color: white;
    margin: 10px 4px;
    box-shadow: 0px 0px 10px 0px #00000012;
    border-radius: 10px;}


    .services h3 {
    height: 50px;
    margin: 0px;
    font-weight: 600;}

    .services_box p {
    font-size: 12px;
    height: 65px;}

.pre_btn1 {
    background: #ffffff;
    width: fit-content;
    margin: 35px auto;
    padding: 10px 30px;
    color: #3F51B5;
    border: 1px solid;
    font-weight: 500;
    border-radius: 35px;
    cursor: pointer;}


    .seller{
    	   background: url(../image/pic1.jpg);
    	  margin-top:50px;
    }

    .row_bottom1  {
    text-align: left;
    padding: 20px 0px 20px 62px;
    background: white;
    color: black;
    }


   .row_bottom1 .row_bt_p{

    display: flex;
    margin: 10px 0px;}

    .row_bt_p i{
    	color: black;
    padding: 8px;

    width: 29px;
    text-align: center;
    font-size: 27px;
    margin: 2px 10px 0px 0px;

    border-radius: 100%;
    height: fit-content
    }

    .row_bt_p h4{ 
line-height: 2;
    margin: 8px;
    font-weight: 500;
    font-size: 14px;
}

 .row_bottom1 h1{
display: flex;
    margin: 0px;
    margin: 24px 0px 0px;

    padding: 22px;
}
.row_bottom1 h3{
	font-weight: 500;
    font-size: 27px;
    color: #000000;
     padding:15px;
}
.last-section{
	background-image: linear-gradient(to right, #9C27B0, #03A9F4);
    margin-top: 50px;
}
.colunm{
	padding-top: 35px;
    padding-bottom: 35px;
}

.side2 {
   
    padding: 25px;

    text-align: center;
}
.side2 h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
color:white;}


.side2 input, .row_bottom .side2 textarea {
    width: 63%;
    padding: 14px;

    background: #00000000;
    border: 1px  solid #61616100;

 
    border-bottom: 2px solid white;
    margin: 3px;

    color: white;
    font-size: 13px;
    outline: none;
}


.btn{

width: 255px;
    background: #ff5151;
    font-size: 22px;
    padding: 11px;

    border-radius: 3px;
    border-bottom: 2px solid transparent;}

    .btn a{
    	text-decoration: none;
    	color:white;
    }
 


































































































